* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-image:linear-gradient(rgb(255, 255, 255, 0.5),rgba(255, 250, 250, 0.5)), url("https://w.forfun.com/fetch/66/66065d4c4c23022078b780cb71bf2ad6.jpeg");
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #555;
  font-size: 16px;
  overflow-x: hidden;
  text-align: center;
  background-size: cover;
  position: relative;
}

header{
  background:  #ffff92;
}

header::before {
    display: block;
    content: '';
    width: 100%;
    background: #fbed60;
    height: 20px;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 300%;
}

.navbar button {
  width: 130px;
  padding: 15px;
  border-radius: 10px;
  color: rgb(97, 96, 96);
  background: #ffff92;
  font-size: 15px;
  font-weight: bold;
  border: 1.5px solid darkgrey;
}

.navbar button:hover{
  color: white;
  background-color: grey;
  box-shadow: rgb(112, 111, 111) 0px 5px 15px;
  cursor: pointer;
}


.contenttable {
  width: 40%;
  height: auto;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 10%;
  padding: 1rem;
  margin: 2rem auto;
  color: rgb(83, 77, 77);
}

h2{
  color: #555555;
  font-family: 'Amatic SC', cursive;
}

h1,
h2{
  text-align: center;
  margin-bottom: 1rem;
}

.welcome {
  font-weight:200;
  line-height: 25px;
}

#instructure{
 text-align: left;
}

#instructure li{
  margin:1rem;
  font-size: 1.2rem;
}

p {
  font-size: large;
}

#images, #instructure{
  width: 45%;
}

.card2 {
  display: inline-block;
  margin: 5px;
  border: 1px solid #9d9a9a;
  padding: 2px;
  width: 90px;
  height: 80px;
}

.card2 img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

.startgame {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: #6563FF; */
}

.wrapper {
  width: 45%;
  padding: 25px;
  border-radius: 10px;
  background: #f8f8f8;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
}

.cards,
.card,
.view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  height: 25rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards .card {
  cursor: pointer;
  list-style: none;
  user-select: none;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 5 - 10px);
  width: calc(100% / 6 - 10px);
}

.card.shake {
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-13px);
  }
  40% {
    transform: translateX(13px);
  }
  60% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(8px);
  }
}
.card .view {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  pointer-events: none;
  backface-visibility: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s linear;
}
.card .front-view img {
  width: 80px;
}
.card .back-view img {
  max-width: 45px;
}
.card .back-view {
  transform: rotateY(-180deg);
  background-color: #90A8CD;
  width: 4rem;
}
.card.flip .back-view {
  transform: rotateY(0);
}
.card.flip .front-view {
  transform: rotateY(180deg);
}

.actions button{
  margin-top: 1rem;
  margin-right: 15px;
  width: 120px;
  padding: 12px;
  border-radius: 10px;
  color: rgb(97, 96, 96);
  background: #ffff92;
  font-size: 15px;
  font-weight: bold;
  border: 1.5px solid darkgrey;
}

.actions button:hover{
  color: black;
  background-color: #fbed60;
  box-shadow: rgb(112, 111, 111) 0px 5px 15px;
  cursor: pointer;
}

footer {
  text-align: center;
  color: #555555;
  background:  #ffff92;
  /* padding: 2px; */
  margin-top: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
}

footer::before{
  display: block;
  content: '';
  width: 100%;
  background: #fbed60;
  height: 17px;
}

@media screen and (max-width: 700px) {
  .cards {
    height: 350px;
    width: 350px;
  }
  .card .front-view img {
    width: 17px;
  }
  .card .back-view img {
    max-width: 40px;
  }
}

@media screen and (max-width: 530px) {
  .cards {
    height: 300px;
    width: 300px;
  }
  .card .front-view img {
    width: 15px;
  }
  .card .back-view img {
    max-width: 35px;
  }
}
